__pycache__/
*.py[cod]
.pytest_cache/

outputs/runs/*
outputs/figures/*
outputs/debug_runs/
outputs/debug_figures/
!outputs/runs/.gitkeep
!outputs/figures/.gitkeep

report/*.aux
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
report/*.log
report/*.out
report/*.xdv
report/*.toc
report/*.synctex.gz
